{% extends "base.html" %}

{% block content %}
<h1>Sign Up Here</h1>
<form action="/sign-up" method="post">
  <label for="username">Username</label>
    <input type="text" name="username" value='{{username}}'/>
  <p class="error">{{un_blank_field}}</p>
  <p class="error">{{username_invalid}}</p>
<br/>
  <label for="password">Password</label>
    <input type="text" name="password" value='{{password}}'/>
  <p class="error">{{pw_blank_field}}</p>
  <p class="error">{{password_invalid}}</p>
<br/>
  <label for="verify">Verify Password</label>
    <input type="text" name="verify" value='{{verify}}'/>
  <p class="error">{{verify_blank_field}}</p>
  <p class="error">{{bad_match}}</p>
<br/>
  <label for="email">Email (Optional)</label>
    <input type="text" name="email" value='{{email}}'/>
  <p class="error">{{email_invalid}}</p>
<br/>
  <label for="submit">
    <input type="submit" name="submit" /></label>
</form>
{% endblock %}
